body{
    background-color: #3a5072;
}
#content{
  width: 90%;
  min-width: 600px;
  height: 720px;
  padding: 25px;
  border-radius: 5px;
  margin: 20px auto;
  background-color: white;
  color: gray;
}
#login{
  font-size: 2em;
  width: 500px;
  margin: 25px auto;
  text-align: right;
}
#login input, #login button{
  margin-right: 40%;
  margin-top: 20px;
}
#login input{
  border-radius: 3px;
}
#login button{
  background-color: #3a5072;
  color: white;
  border-radius:5px;
  font-size: 16px;
  padding: 2px 5px;
}
#login button:hover{
  border: 2px solid #f95252;
}
#ver{
  color: #ff4c50;
}
